<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
</head>
<form  method="POST" action="">
                    <div class="form-group">
                        <input class="form-control form-control-lg" name="username" id="username" type="text" placeholder="用户名" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input id="password" name="password" placeholder="密码">
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="custom-control custom-checkbox">-->
<!--                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Remember Me</span>-->
<!--                        </label>-->
<!--                    </div>-->
                    <button type="submit" name="login" id="loginButton">登录</button>
					<button type="submit" name="register" id="registerButton">注册</button>
{{message}}
</form>
